:root {
    --salmons: #EF9D71;
    --cyan: #AEDEE0;
    --salmon: salmon;
    --black: black;
    --white: white;
    --bblack: white;
    --bcyan: rgb(14, 66, 66);
    --bsalmon: rgb(127, 15, 3);
    --bwhite: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color ease-out .5s;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

*::selection {
    background-color: var(--salmons);
}

body[theme="black"] {
    background-color: var(--black);
}

body[theme="black"] .section {
    color: white;
}

body[theme="cyan"] {
    background-color: var(--cyan);
}

body[theme="cyan"] .section {
    color: var(--bcyan);
}

body[theme="salmon"] {
    background-color: var(--salmon);
}

body[theme="salmon"] .section {
    color: var(--bsalmon);
}

body[theme="white"] {
    background-color: var(--white);
}

body[theme="white"] .section {
    color: var(--bwhite);
}

@font-face {
    font-family: "ff";
    src: url("./659dbdfd5a080be8d348316f_PPNeueMachina_\ Light.ttf");
}

.vfull {
    clip-path: circle(var(--clip) at 50% 50%);
}

/* General Styles */
.section {
    padding: 20px;
    box-sizing: border-box;
}

h1, h3 {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 1rem;
}

/* Responsive Styles */
@media (min-width: 1024px) {
    .capsules {
        flex-direction: row;
    }

    .capsule {
        width: 25%;
        margin: 1rem;
    }
}

@media (max-width: 1024px) {
    .capsules {
        padding: 20px;
        flex-direction: column;
    }

    .capsule {
        width: 80%;
        margin: 10px auto;
    }
}

@media (max-width: 768px) {
    .home, .team, .para, .capsules {
        padding: 15px;
    }

    .capsule {
        width: 100%;
        padding: 10px;
    }

    .team .listlem {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .team .pic {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .heading h1 {
        font-size: 1.5rem;
    }

    .textpara {
        font-size: 1rem;
    }

    button {
        font-size: 0.875rem;
    }
}
