:root{
    --salmons: #EF9D71;
    --cyan: #AEDEE0;
    --salmon: salmon;
    --black: black;
    --white: white;
    --bblack: white;
    --bcyan: rgb(14, 66, 66);
    --bsalmon: rgb(127, 15, 3);
    --bwhite: black;
}

body {
    transition: background-color ease-out .5s;
}

*::selection{
    background-color: var(--salmons);
}

body[theme="black"] {
    background-color: var(--black);
}

body[theme="black"] .section {
    color: white
}

body[theme="cyan"] {
    background-color: var(--cyan);
}

body[theme="cyan"] .section {
    color: var(--bcyan);
}

body[theme="salmon"] {
    background-color: var(--salmon);
}

body[theme="salmon"] .section{
    color: var(--bsalmon);
}

body[theme="white"] {
    background-color: var(--white);
}

body[theme="white"] .section{
    color: var(--bwhite);
}

@font-face {
    font-family: "ff";
    src: url("./659dbdfd5a080be8d348316f_PPNeueMachina_\ Light.ttf");
} 


.vfull {
    clip-path: circle(var(--clip) at 50% 50%);
}